.mars {
    background-image: url('../../img/img-background.png');
    background-color: $color-06;
    width: 100%;
    // background-repeat: repeat-y;
    background-position: center center;
    animation: movimiento 15s  linear infinite;
}
@keyframes movimiento {
    0% { background-position: 0 0; }
    100%{ background-position: 950px 0;}
}
.section-head {
    margin-top: 140px;
    .mars-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mars-desc:nth-child(2) {
        width: 55%;
    }
    .mars-desc {
        width: 22.5%;
        &.wrapper {
            position: relative;
        }
        .mars-img {
            position: relative;
                text-align: center;
                .images {
                    width: 300px;
                }
            
            .mars-images {
                img{
                    height: auto;
                    max-width: 100%;
                }
                .text {
                    position: absolute;
                    font-size: $font-size-08;
                    letter-spacing: 0.18em;
                    background: -webkit-linear-gradient(180deg, #F4C69C 24.26%, #FFFFFF 58.49%);
                    background-clip: border-box;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    top: 16%;
                    left: 21.6%;
                    z-index: 3;
                }

                .buttons {
                    position: absolute;
                    left: 33.1%;
                    bottom: -11%;
                    z-index: 8;
                }
                .button-primary {
                    text-transform: uppercase;
                    @include button-primary()
                }
            }

            .mars-orbit {
                .steroid {
                    width: 16px;
                    height: 16px;
                    border-radius: 50%;
                    background-color: $colors-01;
                    position : absolute;
                }
                &.line-1{
                    border: 2px solid $colors-02;
                    border-radius: 50%;
                    top: -22.1%;
                    left: 18.2%;
                    right: 0;
                    bottom: 0;
                    width: 428px;
                    height: 428px;
                    position: absolute;
                    -webkit-animation: spin-right 14s linear infinite;
                    -moz-animation: spin-right 14s linear infinite;
                    -ms-animation: spin-right 14s linear infinite;
                    -o-animation: spin-right 14s linear infinite;
                    animation: spin-right 14s linear infinite;

                    .one {
                        top: 70%;
                        right: 3%;
                    }

                    .two {
                        top: 68%;
                        left: 2%;
                    }
                }

                &.line-2{
                    border: 2px solid $colors-02;
                    border-radius: 50%;
                    position: absolute;
                    top: -13.9%;
                    left: 22.1%;
                    right: 0;
                    bottom: 0;
                    width: 378px;
                    height: 378px;
                    -webkit-animation: spin-right 10s linear infinite;
                    -moz-animation: spin-right 10s linear infinite;
                    -ms-animation: spin-right 10s linear infinite;
                    -o-animation: spin-right 10s linear infinite;
                    animation: spin-right 10s linear infinite;

                    .one {
                        top: 23%;
                        left: 4%;
                    }
                }

                &.line-3{
                    border: 2px solid $colors-02;
                    border-radius: 50%;
                    position: absolute;
                    top: -8%;
                    left: 25%;
                    right: 0;
                    bottom: 0;
                    width: 340px;
                    height: 340px;
                    -webkit-animation: spin-right 15s linear infinite;
                    -moz-animation: spin-right 15s linear infinite;
                    -ms-animation: spin-right 15s linear infinite;
                    -o-animation: spin-right 15s linear infinite;
                    animation: spin-right 15s linear infinite;

                    .one {
                        top: 31%;
                        right: 0;
                    }
                }
            }

            @keyframes spin-right {
                100% {
                    transform: rotate(360deg);
                }
            }
        }

        .lines:nth-child(2) {
            position: absolute;
            left: 32%;
            z-index: 1;
            top: -21%;
            border: 2px solid $color-05;
            height: 480px;
        }
        .lines:nth-child(3) {
            position: absolute;
            left: 42%;
            z-index: 1;
            top: -16%;
            border: 2px solid $color-05;
            height: 440px;
        }

        &-card {
            @include background-card();
            background-color: #0e121a;
            width: 276px;
            padding: 30px 21px;
            position: relative;
            z-index: 2;
            
            .quest {
                position: absolute;
                top: -24px;
                left: 40%;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: $colors-02;
            }

            .text{
                color: $color-04;
                font-family: Poppins;
                font-size: $font-size-02;
                &-line {
                    font-family: Poppins;
                    color: $color-03;
                }
            }
        }
    }

    .mars-line {
        display: flex;
        justify-content: space-around;
        .text {
            writing-mode: vertical-rl;
            text-orientation: upright;
            color: $color-08;
            .red{
                color: $color-07;
            }
        }
    }
}
