.section-footer {
    .mars-footer {
        // background: linear-gradient(180deg, #121223 0%, rgba(18, 18, 35, 0.5) 100%);
        border-bottom: 45px solid $colors-04;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        height: 0;
        width: auto;
        
        .text {
            padding-top: 12px;
            line-height: 9px;
            font-family: Poppins;
            font-size: $font-size-03;
            text-align: center;
            letter-spacing: 0.01em;
            color: $color-09;
        }
        .designed {
            text-transform: capitalize;
            font-family: Poppins;
        }
    }
}