$color-01 :#4B5D67;
$color-02 :#ffff;
$color-03 :#CE7645;
$color-04 :#C5C5C5;
$color-05 :#2E374A;
$color-06 :#000000;
$color-07 :#84142D;
$color-08 :#4B5D67;
$color-09 :#C2C2C2;
$colors-01 :#8E8E8E;
$colors-02 :#373737;
$colors-03 :#A7A7A7;
$colors-04 :#121223;

$font-size-01 : 12px;
$font-size-02 : 15px;
$font-size-03 : 18px;
$font-size-04 : 20px;
$font-size-05 : 25px;
$font-size-06 : 30px;
$font-size-07 : 130px;
$font-size-08 : 160px;

@mixin background-card {
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-radius: 0 35px 35px 0;
}
@mixin card-slide {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.25);
}

@mixin button-primary {
    background: linear-gradient(180deg, #FFAB6F 0%, #FF002E 100%);
    box-shadow: 0px 9px 20px rgba(255, 0, 0, 0.3);
    border-radius: 50px;
    padding: 12px 26px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.05em;
    font-family: Poppins;
    outline: none;
    border: none;
    color: #FFFFFF;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {

    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 0;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
* {
    font-family: Staatliches;
    padding: 0;
    margin: 0;
}